<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" type="text/css" href="style.css">  -->
</head>
<body>
    <div class="container-fluid mt-3 w3-container d-flex justify-content-center align-items-center box">
        <div class="row">
            <div class="col-sm-4 p-3 text-center">
                <div class="circle">
                    <div class="photo">
                        <!-- <img src="/Users/dammaladinesh/practice_file/javascript/images/my_phots.png"> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-8 p-3 text-center">
                <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="content">Welcome to the DINSAIStore's</h1><br>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="input-container">
                        <input type="text" class="form-control" id="customer-id" formControlName="customerId" required>
                        <label>Customer ID</label>
                        <div class="text-error-call" *ngIf="myForm.get('customerId')?.invalid && myForm.get('customerId')?.touched">
                            <span class="text-danger">Customer ID is required.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-container col-sm-6">
                            <input type="text"  id="first-name" class="form-control" formControlName="firstName" required>
                            <label style="padding-left: 3%;">First Name</label>
                            <div class="text-error-call" *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched">
                                <span class="text-danger">First Name ID is required.</span>
                            </div>
                        </div>
                        
                        <div class="input-container col-sm-6">
                            <input type="text" class="form-control" id="last-name" formControlName="lastName" required>
                            <label style="padding-left: 3%;">Last Name</label>
                            <div class="text-error-call" *ngIf="myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched">
                                <span class="text-danger">Last Name ID is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-container col-sm-6">
                            <input type="text"  id="pass-word" class="password" formControlName="password" required>
                            <label style="padding-left: 3%;">New Password</label>
                            <div class="text-error-call" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
                                <span class="text-danger">First Name ID is required.</span>
                            </div>
                        </div>
                        
                        <div class="input-container col-sm-6">
                            <input type="text" class="reenter-password" id="reenter-password-name" formControlName="reenterpassword" required>
                            <label style="padding-left: 3%;">Re-Enter Password</label>
                            <div class="text-error-call" *ngIf="myForm.get('reenterpassword')?.invalid && myForm.get('reenterpassword')?.touched">
                                <span class="text-danger">Last Name ID is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="email" class="form-control" id="email" formControlName="email" required>
                        <label>Email</label>
                        <div class="text-error-call" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
                            <span class="text-danger">Email ID is required.</span>
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="text" class="form-control" id="phone-number" formControlName="phoneNumber" required>
                        <label>Phone_number</label>
                        <div class="text-error-call" *ngIf="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched">
                            <span class="text-danger">Phone_number ID is required.</span>
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="text" class="form-control" id="person-address" formControlName="address" required>
                        <label>Address</label>
                        <div class="text-error-call" *ngIf="myForm.get('address')?.invalid && myForm.get('address')?.touched">
                            <span class="text-danger">Address ID is required.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-container col-sm-6">
                            <p style="font-size: 15px;">New User</p>
                            <button style="width: 100px; height: 50px;" type="submit" class="btn button-row">Submit</button>
                        </div>
                        <div class="input-container col-sm-6">
                            <p style="font-size: 15px;">Already An Existing G-Store Customer</p>
                            <button style="width: 100px; height: 50px;" type="text" class="btn button-row" routerLink="./login-form">Login</button>
                        </div>
                    </div>
                </form>               
                <div class="error-message w3-panel w3-red" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div><br>
            </div>
        </div>
    </div>  
</body>
