<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="box custom-box">
        <h1>Insert Order</h1>
        <form [formGroup]="orderForm" (ngSubmit)="submitOrder()">
            <div class="container-fluid mt-3">
            <div class="row">
                <div class="col p-2.40">
                <div class="input_box">
                    <label for="inp" class="inp">
                        <input type="text" id="inp" formControlName="orderId" required>
                        <span class="label">Order ID</span>
                        <span class="focus-bg"></span>
                        <div *ngIf="orderForm.get('orderId')?.invalid && (orderForm.get('orderId')?.dirty || orderForm.get('orderId')?.touched)">
                        <div *ngIf="orderForm.get('orderId')?.errors?.['required']">Order ID is required.</div>
                        </div>
                    </label>
                </div>
                </div>
                <div class="col p-2.40">
                <div class="input_box">
                    <label for="inp" class="inp">
                        <input type="text" id="inp" formControlName="customerId" required>
                        <span class="label">Customer ID</span>
                        <span class="focus-bg"></span>
                        <div *ngIf="orderForm.get('customerId')?.invalid && (orderForm.get('customerId')?.dirty || orderForm.get('customerId')?.touched)">
                        <div *ngIf="orderForm.get('customerId')?.errors?.['required']">Customer ID is required.</div>
                        </div>
                    </label>
                </div>
                </div>
                <div class="col p-2.40">
                <div class="input_box">
                    <label for="inp" class="inp">
                        <input type="text" id="inp" formControlName="storeId" required>
                        <span class="label">Store ID</span>
                        <span class="focus-bg"></span>
                        <div *ngIf="orderForm.get('storeId')?.invalid && (orderForm.get('storeId')?.dirty || orderForm.get('storeId')?.touched)">
                        <div *ngIf="orderForm.get('storeId')?.errors?.['required']">Store ID is required.</div>
                        </div>
                    </label>
                </div>
                </div>
                <div class="col p-2.40">
                <div class="input_box">
                    <label for="inp" class="inp">
                        <input type="date" id="inp" formControlName="orderDate" required>
                        <span class="label">Order Date</span>
                        <span class="focus-bg"></span>                    
                        <!-- <input type="date" formControlName="orderDate" placeholder="Order Date" required> -->
                        <div *ngIf="orderForm.get('orderDate')?.invalid && (orderForm.get('orderDate')?.dirty || orderForm.get('orderDate')?.touched)">
                            <div *ngIf="orderForm.get('orderDate')?.errors?.['required']">Order Date is required.</div>
                        </div>
                    </label>
                    </div>
                </div>
                <div class="col p-2.40">
                <div class="input_box">
                    <label for="inp" class="inp">
                        <input type="number" id="inp" formControlName="totalAmount" required>
                        <span class="label">Total Amount</span>
                        <span class="focus-bg"></span>  
                    <!-- <input type="number" formControlName="totalAmount" placeholder="Total Amount" required> -->
                        <div *ngIf="orderForm.get('totalAmount')?.invalid && (orderForm.get('totalAmount')?.dirty || orderForm.get('totalAmount')?.touched)">
                        <div *ngIf="orderForm.get('totalAmount')?.errors?.['required']">Total Amount is required.</div>
                        </div>
                    </label>
                </div>
                </div>
            </div>
            <div style="margin-top: 5%; text-align: center;">
                <button type="submit" [disabled]="orderForm.invalid" class="w3-button w3-black w3-round-xxlarge">Submit</button>
            </div>
            </div>
        </form>
    </div>
    
    <div class="box custom-box">
        <div class="w3-row">
            <div class="w3-col" style="width:90%">
                <input matInput (keyup)="applyFilter($event)" placeholder="Order ID">
            </div>
            <div class="w3-col" style="width:10%">
                <button (click)="downloadAsPDF()">Download as PDF</button>
            </div>
        </div>
        <table #table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Order ID</th>
              <th>Customer ID</th>
              <th>Store ID</th>
              <th>Order Date</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getFilteredOrders()">
              <td>{{ item.id }}</td>
              <td>{{ item.orderId }}</td>
              <td>{{ item.customerId }}</td>
              <td>{{ item.storeId }}</td>
              <td>{{ item.orderDate }}</td>
              <td>{{ item.totalAmount }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div>
        
    </div>
</body>