input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.small-text-field {
    width: 500px; /* Adjust the width as per your requirement */
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 850px;
  }

  .input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
  }
  .input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #060606;
    transition: all 0.2s ease;
    border-bottom: 2px solid #5810e9;
    border-top: 2px solid #5810e9;
  }
  .input_box input:focus {
    border-color: #7d2ae8;
  }
  .input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
  }
  .input_box i.email,
  .input_box i.password {
    left: 0;
  }
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password {
    color: #7d2ae8;
  }
  .input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
  }

  .btn {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }

