<div class="mani">
  <ul class="cards">
    <li class="cards_item" *ngFor="let card of cards">
      <a [href]="card.link">
        <div class="card">
          <div class="card_image">
            <img src="{{ card.image }}" alt="{{ card.title }}" />
            <span class="card_price"><span>$</span>{{ card.price }}</span>
          </div>
          <div class="card_content">
            <h2 class="card_title">{{ card.title }}</h2>
            <div class="card_text">
              <p>{{ card.description }}</p>
              <hr *ngIf="card.dressingOptions || card.elements || card.drizzleOptions" />
              <p *ngIf="card.dressingOptions">Served with your choice of dressing on the side: <strong>{{ card.dressingOptions.join(', ') }}</strong>. Add your choice of protein for ${{ card.proteinPrice }} more.</p>
              <p *ngIf="card.elements">This unforgettable sandwich has all of the classic Reuben elements: <strong>{{ card.elements.join(', ') }}</strong>. No substitutions please!</p>
              <p *ngIf="card.drizzleOptions">Choose your drizzle: <strong>{{ card.drizzleOptions.join(', ') }}</strong>.</p>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>